<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coder's Musings</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
      <div>
        <h1>Coder's Musings</h1>
        <h3>Unzip your mind</h3>
      </div>
    <nav>
      <a>Home</a>
      <a>Profile</a>
      <a>Login</a>
      <button>Logout</button>
    </nav>
    </header>
    <main>
      {{{body}}}
    </main>
</body>

</html>